[submodule "validation-backend"]
      path = validation-backend
      url = https://github.com/vstu-mini-project/validation-backend.git
[submodule "validation-frontend"]
      path = validation-frontend
      url = https://github.com/vstu-mini-project/validation-frontend.git
